services:
  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: compose-postgres
      POSTGRES_PASSWORD: compose-postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: